.container {
  border: 1px solid green;
  width: 461px;
  height: 350px;
  margin: 100px 150px 0px 100px;
  }

h2 {
  font-family: Radio;
  font-weight: bold;
  text-align: center;
 color: #FAB74B;
  padding: 10px 10px;
  }

/*this is where I need to put in the variable but have no idea how to make it match up, you know? */
.quote-text {
  text-align: center;
  background-color: #FAB74B;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
  margin: 40px;
}
.generator{
 text-align: center;
}

.tweet-this { 
  float: right;
  padding-bottom: 40px;
}

.twitter-handles 
{
  list-style-type:none;
  float: left;
  padding: 20px;
}

.btn.btn-primary.btn-lg {
margin-left: 160px;
}
.tweet-this {
  background-color: #FA9632;
  height: 30px;
  width: 100px;
  padding: 0px 10px;
  text-align: left;
  }
.row {
  padding: 0px 30px;
  margin: auto;
}
